<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Chatbot for Banking</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/owl.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/lightbox.css">

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                        <img src="../static/assets/images/logo.png" alt="Logo Chatbot">
<!--                          <img src="../static/assets/images/logo.png" alt="Logo Chatbot" style="width:100px;height:100px;">-->
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                          <li class="scroll-to-section"><a href="#services">ChatBot AI</a></li>
                        <li class="scroll-to-section"><a href="#courses">Các sản phẩm</a></li>
                          <li class="has-sub">
                              <a href="#services">Dịch Vụ </a>
                              <ul class="sub-menu">
                                  <li><a>AI Chatbot</a></li>
                                  <li><a>AI eKYC</a></li>
                                  <li><a>Text To Speech</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#testimonials">Về chúng tôi</a></li>
                          <li class="scroll-to-section"><a href="#contact-section">Liên hệ</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Gán kết trên mọi nền tảng</h6>
            <h2>Nâng Cao Trải Nghiệm Với <em>AI Chatbot!</em></h2>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Liên Hệ Ngay!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
<!--            <img src="../static/assets/images/banner-right-image.png" alt="">-->
            <img src="../static/assets/images/banner-right-image.png" alt="" style="width:510px;height:535px;">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6> Về Sản Phẩm</h6>
            <h4>Tại sao nên lựa chọn <em>Chatbot AI</em> ?</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Đàm Thoại Tự Nhiên</h4>
                <p> Được trang bị máy học cùng công nghệ Xử lý ngôn ngữ tự nhiên tiếng Việt tốt nhất thị trường </p>
                <p> AI Chatbot có thể hiểu được ý định của khách hàng, đưa ra các câu trả lời phù hợp và trở nên thông minh hơn theo thời gian sau khi được đào tạo.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Công Cụ Hoàn Hảo</h4>
                <p>Dễ dàng xây dựng và quản lý hội thoại với khách hàng tương ứng với hành trình khách hàng sử dụng sản phẩm/dịch vụ của bạn
                  và tự động gửi tới khách hàng thông tin về các chương trình khuyến mãi.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>Tích Hợp Triển Khai Đa Kênh</h4>
                <p>Dễ dàng tích hợp với các cổng thông tin nội bộ sẵn có của doanh nghiệp,
                  nhắn tin cũng như các nền tảng hội thoại phổ biến như live chat trên website, mạng xã hội (Facebook, Zalo, Viber, Workchat...) thông qua một vài thao tác đơn giản..</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>Tăng Cường Hiệu Quả Dịch Vụ</h4>
                <p>FPT AI Chat hoạt động 24/7, hỗ trợ khách hàng mọi lúc, mọi nơi, và sẵn sàng chuyển cuộc trò chuyện đến nhân viên tư vấn khi khách hàng yêu cầu,
                  đảm bảo trải nghiệm khách hàng luôn nhất quán và tốt đẹp.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Khả Năng Tương Thích Và Mở Rộng Linh Hoạt </h4>
                <p> Dễ dàng tích hợp với hệ thống của Doanh nghiệp thông qua các API. </p>
                <p> Nền tảng đám mây cho phép mở rộng linh hoạt và xử lý hàng nghìn ý định của khách hàng cùng một lúc.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Hỗ Trợ Nhiều Ngành Nghề</h4>
                <p>Chatbot AI có thể linh hoạt và phát triển cho các bên khác nhau như ngân hàng, bán lẻ, ....</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>Phát Triển Nhanh</h4>
                <p>Chúng tôi có thể cung cấp cho khách hàng sản phẩm nhanh nhất theo đúng yêu cầu của khách hàng.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>Giá Cả Phù Hợp</h4>
                <p>Với kinh nghiệm phát triển các sản phẩm AI nói chung và Chatbot nói riêng. Chúng tôi tự tin có thể đem đến cho khách hàng một mức giá phù hợp nhất.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Bảo Dưỡng</h4>
                <p>Tận tình hỗ trợ khách hàng mỗi khi có vấn đề phát sinh và giải quyết vấn đề một cách nhanh chóng.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>VỀ SẢN PHẨM KHÁC</h6>
            <h4>Những Nghiên Cứu <em>Nổi Bật</em></h4>
            <p>Tạo những bước đột phá trong việc áp dụng Trí Tuệ Nhân Tạo vào quá trình vận hành, nâng cao hiệu suất và tiết kiệm tài nguyên cho quý công ty.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Text To Speech</span></div>
                    <div class="gradient-border"><span>AI Reading</span></div>
                    <div class="gradient-border"><span>Recommend System</span></div>
                    <div class="gradient-border"><span>AI eKYC</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="../static/assets/images/courses-04.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Text To Speech</h4>
                          <p>Bạn đã sẵn sàng trải nghiệm dịch vụ Chuyển văn bản sang giọng nói tiếng Việt tốt nhất chưa?<br><br>Ứng dụng công nghệ tổng hợp giọng nói và học sâu, dịch vụ Chuyển văn bản thành giọng nói (TTS) của chúng tôi cho phép các nhà phát triển tổng hợp giọng nói có âm thanh tự nhiên với nhiều loại giọng (giọng nam, nữ) và giọng (giọng Bắc, Trung và Nam). Dịch vụ có thể truy cập ở dạng API có thể tích hợp dễ dàng với bất kỳ hệ thống nào, trên nhiều ứng dụng và thiết bị.</p>
                          <span>Accuracy: 99%</span>
                          <span>Realtime</span>
                          <span class="last-span">Crad: Nvidia RTX 3080</span>
                          <div class="text-button">
                            <a href="contact-us.html">Tìm hiểu ngay!</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../static/assets/images/courses-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>AI Reading System</h4>
                          <p>AI Reading là công cụ tối ưu dành cho doanh nghiệp để tăng tốc xử lý và số hóa tài liệu.<br><br>Bằng việc áp dụng Nhận dạng đặc trưng quang học (OCR) trên nền tảng công nghệ Học sâu, AI Reading cho phép nhận dạng các giấy tờ tùy thân (như Chứng minh nhân dân, Giấy phép lái xe và Hộ chiếu) và trích xuất nội dung từ hình ảnh của các biểu mẫu / hóa đơn khác nhau (tức là điện, nước và hóa đơn bán lẻ, v.v.) và các tài liệu in. </p>
                          <span>Accuracy: 97%</span>
                          <span>Time: 3 - 7s</span>
                          <span class="last-span">Card: Nvidia RTX 3080</span>
                          <div class="text-button">
                            <a>Tìm hiểu ngay!</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../static/assets/images/courses-03.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>AI Recommend System</h4>
                          <p>Recommend System là hệ thống tuyệt vời giúp quý công ty tiếp cận đúng người đúng sản phẩm.<br><br>Hệ thống gợi ý là một dạng của hệ hỗ trợ ra quyết định, cung cấp giải pháp mang tính cá nhân hóa mà không phải trải qua quá trình tìm kiếm phức tạp. Hệ gợi ý học từ người dùng và gợi ý các sản phẩm tốt nhất trong số các sản phẩm phù hợp.</p>
                          <span>Accuracy: 97%</span>
                          <span>Time: 1 - 2s</span>
                          <span class="last-span">Card: Nvidia RTX 3080</span>
                          <div class="text-button">
                            <a href="contact-us.html">Tìm hiểu ngay!</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../static/assets/images/courses-01.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>AI eKYC System</h4>
                          <p>Đơn giản hóa quy trình xác minh của bạn với <a rel="nofollow" href="https://www.toocss.com/" target="_blank">AI eKYC</a>.
                          <br><br>eKYC System cung cấp thuật toán Deep Learning hiện đại giúp phát hiện và so sánh ảnh chân dung trong các giấy tờ tùy thân như CMND, bằng lái xe, hộ chiếu… để xác thực khuôn mặt thật. Đơn giản hóa quy trình xác minh chỉ thành vài giây thay vì hàng giờ hoặc hàng ngày.</p>
                          <span>Accuracy: 98%</span>
                          <span>Time: 2 - 3s</span>
                          <span class="last-span">Card: Nvidia RTX 3080</span>
                          <div class="text-button">
                            <a>Tìm hiểu ngay!</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="../static/assets/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Chọn gói cho bạn!</h6>
          <h4>Ưu đãi khi trải nghiệm sản phẩm</h4>
          <p>Luôn hỗ trợ 24/7 mọi vấn đề kĩ thuật cho khách hàng. Vui lòng liên hệ chúng tôi để biết thêm thông tin.</p>
          <div class="white-button">
            <a href="contact-us.html">Liên hệ ngay?</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>VỀ CHÚNG TÔI</h6>
            <h4>Chúng Tôi Là <em>Những Ai</em> ?</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“Luôn luôn sáng tạo, đổi mới, không ngại thách thức và tìm kiếm cơ hội”</p>
                <h4>Huu Dat</h4>
                <span>CEO &amp; Founder</span>
                <img src="../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“AI luôn là thứ gì đó hấp dẫn mới mẻ, đặc biệt với những người bạn trẻ thích sự khám phá tìm tòi”</p>
                <h4>Uyen Nguyen</h4>
                <span>CTO of Tech Company</span>
                <img src="../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Không chỉ là sự đột phá, nó còn là cuộc cách mạng cho kỉ nguyên công nghệ thông tin”</p>
                <h4>Sophia Nguyen</h4>
                <span>CEO and Co-Founder</span>
                <img src="../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Chúng tôi luôn mang đến cho mọi người sản phẩm hoàn chỉnh nhất, chất lượng nhất.”</p>
                <h4>Hung Duong</h4>
                <span>Tech Officer</span>
                <img src="../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Với giá thành phải chăng cùng đội ngũ nhân lực chất lượng. Chúng tôi tự tin có thể làm được những thứ to lớn hơn nữa.”</p>
                <h4>Dan Doan</h4>
                <span>Marketing Manager</span>
                <img src="../static/assets/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7151.84524236698!2d-122.19494600413192!3d47.56605883252286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490695e625f8965%3A0xf99b055e76477def!2sNewcastle%20Beach%20Park%20Playground%2C%20Bellevue%2C%20WA%2098006%2C%20USA!5e0!3m2!1sen!2sth!4v1644335269264!5m2!1sen!2sth" width="100%" height="420px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Điện Thoại</h4>
                  <span>010-020-0340</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Email</h4>
                  <span>AI.Teams@gmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Liên Hệ Với Chúng Tôi</h6>
                  <h4>Xin <em>Chào</em></h4>
                  <p>Nếu bạn đang quan tâm đến những sản phẩm AI. Vui lòng nhắn tin cho chúng tôi. Bộ phận chăm sóc khách hàng sẽ liên hệ lại cho bạn sớm nhất có thể!</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Họ Và Tên" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Địa Chỉ Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Vui lòng nhập tin nhắn"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Gửi tin nhắn</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 AI Teams. Đã đăng ký Bản quyền.

        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/assets/js/isotope.min.js"></script>
    <script src="../static/assets/js/owl-carousel.js"></script>
    <script src="../static/assets/js/lightbox.js"></script>
    <script src="../static/assets/js/tabs.js"></script>
    <script src="../static/assets/js/video.js"></script>
    <script src="../static/assets/js/slick-slider.js"></script>
    <script src="../static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

  <style>
        .rw-conversation-container .rw-header{background-color:hsl(250, 69%, 61%);}
        .rw-conversation-container .rw-messages-container .rw-message .rw-client{background-color: hsl(250, 69%, 61%);}
        .rw-launcher{background-color: hsl(250, 69%, 61%);}
        .rw-conversation-container .rw-reply{background-color: hsl(250, 69%, 61%); border: 1px solid hsl(250, 69%, 61%);}
        .rw-conversation-container .rw-messages-container .rw-imageFrame
   </style>

    <script>!(function () {
         let e = document.createElement("script"),
         t = document.head || document.getElementsByTagName("head")[0];
         (e.src =
            "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
            // Replace 1.x.x with the version that you want
            (e.async = !0),
         (e.onload = () => {
             window.WebChat.default(
             {
              selector: "#webchat",
              initPayload: "/get_started",
              customData: { language: "en" }, // arbitrary custom data. Stay minimal as this will be added to the socket
              socketUrl: "http://127.0.0.1:5005",
              socketPath: "/socket.io/",
              title: "Bank Bot",
              subtitle: "Hãy chat với tui nha...",
              interval: 1000, // 1000 ms between each message
              inputTextFieldHint: "Type a message...",
              connectingText: "Waiting for server...",
              hideWhenNotConnected: false,
              fullScreenMode: false,
              showCloseButton: true,
              showFullScreenButton: false,
              showMessageDate: true,
              profileAvatar: "static/image_rasa/avatar.png",
              openLauncherImage: "static/image_rasa/chatbot.png",
              closeLauncherImage: "static/image_rasa/chatbot.png",
              displayUnreadCount: true, // --> [view](static/image_rasa/chatbot.png)
              tooltipPayload: '/get_tooltip',
              tooltipDelay: 1000,
              docViewer: true,
              customMessageDelay: (message) => {
                  if (message.length > 100) return 2000;
                      return 1000;
              },
              params: {
                  images: {
                      dims: {
                          width: 300,
                          height: 200,
                      }
                  },
              storage: "session"
              },
              },
             null
         );
         }),
         t.insertBefore(e, t.firstChild);
         })();
         localStorage.clear();
    </script>


</body>

</html>